@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Duru+Sans&family=Montserrat:ital,wght@1,600&display=swap');

body {
    font-family: 'Duru Sans', sans-serif;
    background-color: #fbfaf8;
    color: #0a122a;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    margin-left: 2%;
}

#navbar {
    background-color: #004225;
}

.nav-link {
    font-family: 'Duru Sans', sans-serif;
}

.flashes h4 {
    background-color: #3066be;
    color: #fbfaf8;
    line-height: 2;
    text-align: center;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    font-size: 120%;
    font-weight: bold;
    color: #0a122a;
}

#query {
    margin-bottom: 2%;
}

.form-check {
    margin-left: 2%;
}

.page-title {
    text-transform: capitalize;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-img-top { 
    max-height: 500px;
    object-fit: contain;
}

.card {
    margin-top: 10px;
}

.card-title {
    margin-bottom: 12px;
}

.card-title, .card-text {
    color: #0a122a;
}

.card-subtitle {
    color: #0a122a;
    margin-bottom: 19px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.cancel-delete-btn {
    background-color: #a00005;
    color: #fbfaf8;
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn:hover {
    color: #3066be;
    background-color: #fbfaf8;
    border-color: #3066be;
}

.add-edit-save-btn {
    background-color: #3066be;
    color: #fbfaf8;
    margin-top: 3%;
    margin-bottom: 3%;
}

span {
    font-size: 120%;
    color: #a00005;
}