{% extends "base.html" %}
{% block content %}

    <h3 class="page-title">Edit Vehicle Type</h3>

        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
            <form class="justify-content-center" method="POST" action="{{ url_for('edit_vehicle_type', vehicle_type_id=vehicle_type._id) }}">
                <!-- vehicle type -->
                <div class="row">
                    <div class="mb-3 col-12">
                        <i class="fa-solid fa-pen"></i>
                        <label for="vehicle_type" class="form-label">Edit Vehicle Type...</label>
                        <input type="text" class="form-control" id="vehicle_type" name="vehicle_type"
                        minlength="3" maxlength="25" value="{{ vehicle_type.vehicle_type }}" required>
                    </div>
                </div>
                <!-- save button -->
                <div class="row">
                    <div class="col-12">
                        <button class="btn add-edit-save-btn" type="submit">Save <i class="fa-regular fa-floppy-disk"></i></button>
                    </div>
                </div>
                <!-- cancel button -->
                <div class="row">
                    <div class="col-12">
                        <a class="btn cancel-delete-btn" href="{{ url_for('get_vehicle_types') }}" role="button">Cancel <i
                        class="fa-regular fa-circle-xmark"></i></a>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}