{% extends "base.html" %}
{% set active_page = 'profile' %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="page-title">
                            {{ username }}'s Profile
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row message-area">
                <div class="col-12">
                    <p>Welcome {{ username }}, this is your Profile page.</p>
                    <p>Here you will find any vehicles you have added to My Vehicle History.</p>
                    <p>If you would like other site visitors to be able to appreciate your vehicle on the Show Vehicles page?</p>
                    <p>Remember to select the option "Show My Vehicle", using the switch provided on the add/edit forms.</p>
                    <p>To add a new vehicle please use the menu above.</p>
                    <p>Alternatively, please use this button....</p>
                    <a class="btn add-edit-save-btn" href="{{ url_for('add_new_vehicle') }}" role="button">Add New Vehicle <i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for vehicle in vehicles %}
                {% if session.user|lower == vehicle.created_by|lower %}
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                        <img class="card-img-top" src="{{ vehicle.image_url }}" alt="A photo of a {{ vehicle.make }} {{ vehicle.model }}">
                        <div class="card-body">
                            <h2 class="card-title text-shadow fs-4">{{ vehicle.make }}</h2>
                            <h3 class="card-subtitle fs-5">{{ vehicle.model }}</h3>
                            <p class="card-text">Engine Capacity: {{ vehicle.capacity }}</p>
                            <p class="card-text">Litre/CC: {{ vehicle.litre_cc }}</p>
                            <p class="card-text">Colour: {{ vehicle.colour }}</p>
                            <p class="card-text">Year: {{ vehicle.year }}</p>
                            {% if vehicle.current_owner == "yes" %}
                                <p class="card-text">Current Owner: {{ vehicle.current_owner }}
                                    <i class="fa-solid fa-check"></i>
                                </p>
                            {% endif %}
                            <p class="card-text">Description: {{ vehicle.description }}</p>
                            <p><em>by: {{ vehicle.created_by }}</em></p>
                            <!-- edit button -->
                            {% if session.user|lower == vehicle.created_by|lower %}
                                <a class="btn add-edit-save-btn" href="{{ url_for('edit_vehicle', vehicle_id=vehicle._id) }}"
                                   role="button">Edit <i class="fa-solid fa-pen"></i></a>
                            <!-- delete button -->
                            <button type="button" class="btn cancel-delete-btn btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ vehicle._id }}">
                                Delete <i class="fa-regular fa-circle-xmark"></i>
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ vehicle._id }}" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModal">Delete Vehicle?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are You Sure You Want To Delete This Vehicle?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn add-edit-save-btn" data-bs-dismiss="modal">Close</button>
                                            <a class="btn cancel-delete-btn" href="{{ url_for('delete_vehicle', vehicle_id=vehicle._id) }}"
                                                role="button">Delete <i class="fa-regular fa-circle-xmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}