{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="page-title">Register</h3>
        <div class="row justify-content-center">
            <div class="col-6">
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="card">
                        <div class="card-body ">
                            <!-- username -->
                            <div class="mb-3">
                                <i class="fas fa-user-plus prefix"></i>
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" minlength="5"
                                   maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter username..." required>
                            </div>
                            <!-- password -->
                            <div class="mb-3">
                                <i class="fas fa-user-lock prefix"></i>
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" minlength="5"
                                   maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter password..." required>
                            </div>
                            <!-- register -->
                            <div class="mb-3 text-center text-shadow">
                                <input class="btn btn-primary btn-lg" type="submit" value="Register">
                                <i class="fas fa-sign-in-alt"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            Already Registered?
                            <a href="{{ url_for('sign_in') }}">Sign In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}